img {
  width: 100px;
}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

.bgImg {
  background-image: url(../images/bg.avif);
  background-position: center center;
  background-repeat: no-repeat;

  background-size: cover;
  background-color: #999;
  height: 700px;
}